.idea
venv
src/__pycache__
.vscode

data/model
data/videos
data/checkpoints
data/savee_videos
data/savee_frames
data/ravdess_videos
data/ravdess_visual_frames
/data/ravdess_visual_frames/
/data/ravdess_audio_frames_melspec/
/data/ravdess_audio_frames_mfcc/
/data/ravdess_extract_audio/
/src/Conv1d_weights.hdf5
/src/C3D_weights.hdf5
/src/audio_visual_feature.h5
/src/audio.h5
/src/adam(0.001).100.32.hdf5
/src/features.h5
/src/visual.h5
/src/X.joblib
/src/X_features.npy
/src/Y_features.npy
/src/y.joblib
/src/audio/extract_audio_mfcc.py
/data/checkpoints/
