{% extends 'base.html' %}


{% block content %}
<div class="container" align="center">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Sign up</h3>
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Please enter a correct username and password. Note that both fields may be case-sensitive.
                    </div>
                    {% endif %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}