{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div align="center">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Add Content</h1>
            <p class="lead text-muted">You can upload your all contents and also contents' informations by this page to the system.</p>
        </div>
    </section>
    <form method="post" enctype="multipart/form-data" id="uploadContent">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Upload"/>
    </form>
</div>
{% else %}
<div align="center">
    <p>Please login the account.</p>
</div>
{% endif %}

{% endblock content%}