{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div align="center" class="post">
    <div>
        <h1>{{ content.content_name }}</h1>
        <hr>
        <p><b>Content Uploader:</b> {{ content.uploader }}</p>
        <p><b>Content Type:</b> {{ content.content_type }}</p>
        <p><b>Content Language:</b> {{ content.content_language }}</p>
        <p><b>Content Sex:</b>{{ content.content_sex }}</p>
        <p><b>Content Emotion:</b>{{content.content_emotion}}</p>
        <p><b>Commend:</b>{{content.commend}}</p>
        <video width='600' height="300" controls>
            <source src='{{ content.content_upload.url }}' type='video/mp4'>
            File not found.
        </video>
        <br/>
        <br/>
        <hr>
        {% if content.content_type == "Video" %}
        <a href="{% url 'test_visual' pk=content.pk %}">
            <button type="button" class="btn btn-secondary">Find Emotion <br/> (using visual)</button>
        </a>
        <a href="{% url 'test_fusion' pk=content.pk %}">
            <button type="button" class="btn btn-info">Find Emotion <br/> (with fusion)</button>
        </a>
        {% else %}
        <a href="{% url 'test_audio' pk=content.pk %}">
            <button type="button" class="btn btn-dark">Find Emotion <br/> (using audio)</button>
        </a>
        {% endif %}
        {% block result %}
        {% endblock result %}
    </div>
</div>
{% else %}
<div align="center">
    <p>Please login the account.</p>
</div>
{% endif %}
{% endblock content%}